/Tic-Tac-Toe/Fight_/
/Tic-Tac-Toe/First move_/
/Tic-Tac-Toe/task/tests.py
/Tic-Tac-Toe/The user is the gamemaster/
/Tic-Tac-Toe/Welcome to the battlefield_/
/Tic-Tac-Toe/What's up on the field/
/Tic-Tac-Toe/lesson-info.yaml
/course-info.yaml
/course-remote-info.yaml
/requirements.txt
.idea
/Problems/lesson-info.yaml
/Problems/The farm/task.html
/Problems/The farm/task-info.yaml
/Problems/The farm/task-remote-info.yaml
/Problems/FizzBuzz/task.html
/Problems/FizzBuzz/task-info.yaml
/Problems/FizzBuzz/task-remote-info.yaml
/Problems/List from input/task.html
/Problems/List from input/task-info.yaml
/Problems/List from input/task-remote-info.yaml
